<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/main.css">
    <link href="https://fonts.googleapis.com/css?family=Khula:300,400,600" rel="stylesheet">
    <link type="image/ico" href="<%= image("camera-favicon.ico")%>" rel="icon"/>
    <title>Admin</title>
  </head>

  <body>
    <section class="container">
      <header>
        <h1 class="title"><a href="/" class="clean-link">Admin</a></h1>
      </header>

      <nav>
        <button class="create_new_image">Add new image</button>

        <ul>
          <li>London</li>
          <li>Spring</li>
          <li>Madeira</li>
          <li>Tenerife</li>
          <li>Waves</li>
          <li>Outcropping</li>
          <li>Beach</li>
          <li>Rocks</li>
        </ul>
      </nav>

      <form class="input_form">
        <div class="row">
          <label for="title">Title</label>
          <input id="title" type="text" value="London"/>
        </div>
        <div class="row">
          <label for="description">Description</label>
          <input id="description" type="text" value="This pictures was shot very early in the morning on the other side of Madeira from where we were staying. I like how the large rock looks as if were standing calmly almost proudly over the water. The clouds help in giving the entire scene a heroic atmosphere."/>
        </div>
        <div class="row">
          <label for="when">Date</label>
          <input id="when" type="date"/>
        </div>
        <div class="row">
          <label for="image">Image</label>
          <input id="image" type="file"/>
        </div>
        <div class="row">
          <label for="extract_exif">Extract EXIF</label>
          <input id="extract_exif" type="checkbox"/>
        </div>
      </form>
    </section>
  </body>
</html>
