<nav>
  <button class="create_new_image">Add new image</button>

  <ul>
    <li>London</li>
    <li>Spring</li>
    <li>Madeira</li>
    <li>Tenerife</li>
    <li>Waves</li>
    <li>Outcropping</li>
    <li>Beach</li>
    <li>Rocks</li>
  </ul>
</nav>
