@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'base/typography';
@import 'base/images';

body {
  color: #4A4A4A;
  font-family: 'Khula', sans-serif;
}

.container {
  width: 1200px;
  margin: 2em 0;
  @include outer-container(95%);
}

//Clean link
.clean-link {
  color: #4A4A4A;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #4A4A4A;
  }
}


//Clean list
.clean-list {
  list-style: none;
}


// Social Media Images
.social-container {
  display: inline-block;
  padding: 0;
  text-align: left;

  @media (min-width: 920px) {
    float: right;
  }
}

.social {
  height: 38px;
  margin-right: 20px;
  margin-bottom: 1em;
  width: 38px;

  @media (min-width: 920px) {
    margin-bottom: 0;
  }
}


// Back button
.back-container {
  display: flex;
  margin: 1em 0;
}

.back-container__text {
  border: 2px solid #4A4A4A;
  border-radius: 20px;
  font-weight: 700;
  justify-content: flex-start;
  padding: .3em .5em 0 .5em;
  text-align: center;
  text-transform: uppercase;

  img {
    padding-right: 5px;
  }
}

nav {
  @include span-columns(2);

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    background-color: rgba(192,192,192,0.4);
    border-bottom: 1px solid rgba(192,192,192,0.7);
    margin-bottom: 1em;
    text-align: center;
    padding-top: 5px;
  }
}

.create_new_image {
  background-color: rgba(0,115,255,0.5);
  border-bottom: 1px solid rgba(0,115,255,1.0);
  margin-bottom: 1em;
  text-align: center;
  padding-top: 5px;

  border: 0;
  box-shadow:none;
  border-radius: 0px;

  font-family: 'Khula', sans-serif;
  font-size: 16px;

  width: 100%;
}

.input_form {
  @include span-columns(10);
}

.row {
  @include span-columns(10);

  label {
    @include span-columns(2 of 10);
  }

  input {
    @include span-columns(8 of 10);
    @include omega()
  }
}
