html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

.title {
  font-size: 2.75em;
  font-weight: 400;
  margin: 0;
  padding-bottom: .2em; }

.subtitle {
  display: inline-block;
  font-size: 1.25em;
  font-weight: 300;
  margin: 0 0 2em 0;
  max-width: 675px; }
  @media (min-width: 920px) {
    .subtitle {
      margin: 0 0 3em 0; } }

.asset-title {
  display: inline-block;
  font-size: 1.25em;
  letter-spacing: 1px;
  margin: .5em 0 0 0;
  text-transform: uppercase; }

.asset-subtitle {
  font-size: .875em;
  font-weight: 300;
  margin: 0; }

.asset-description {
  display: inline-block;
  float: right;
  margin: 1em 1em 0 0;
  font-size: .688em;
  text-transform: uppercase; }

.page-title {
  display: inline-block;
  margin: 1em 0 .7em 0;
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase; }

.image-description {
  font-size: 1.25em;
  font-weight: 300; }

.exif-data {
  font-color: #8A8A8A;
  font-weight: 300; }
  @media (min-width: 710px) {
    .exif-data {
      text-align: right; } }

.content-wrapper > section:nth-child(even) {
  margin-right: 0; }

.single-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .single-wrapper:last-child {
    margin-right: 0; }
  @media (min-width: 1000px) {
    .single-wrapper {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .single-wrapper:last-child {
        margin-right: 0; } }

.single-wrapper:after {
  content: "";
  display: block;
  padding-bottom: 2%; }

.single {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.single:after {
  background-repeat: no-repeat;
  content: "";
  display: block;
  padding-bottom: 77%; }

@media (min-width: 1000px) {
  .quadrant-wrapper {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .quadrant-wrapper:last-child {
      margin-right: 0; } }

.quadrant-wrapper:after {
  content: "";
  display: block;
  padding-bottom: 50%; }

.quadrant {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  background-position: 50% 50%;
  background-size: cover;
  margin-right: 1em;
  margin-bottom: .3em; }
  .quadrant:last-child {
    margin-right: 0; }

.quadrant:nth-child(n+3) {
  margin-bottom: 0; }

.quadrant:after {
  content: "";
  display: block;
  padding-bottom: 77.5%; }

.quadrant:nth-child(even) {
  margin-right: 0; }

.quadrant:last-child {
  margin-right: .2em; }
  @media (min-width: 730px) {
    .quadrant:last-child {
      margin-right: .3em; } }

.asset-wrapper {
  padding-bottom: 10%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0; }
  .asset-wrapper:last-child {
    margin-right: 0; }

.quadrant-wrapper--full {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .quadrant-wrapper--full:last-child {
    margin-right: 0; }

.single-wrapper--full {
  margin-top: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .single-wrapper--full:last-child {
    margin-right: 0; }

.image-description {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .image-description:last-child {
    margin-right: 0; }
  @media (min-width: 710px) {
    .image-description {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .image-description:last-child {
        margin-right: 0; } }

.exif-data {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-left: 0; }
  .exif-data:last-child {
    margin-right: 0; }
  @media (min-width: 710px) {
    .exif-data {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      float: right; }
      .exif-data:last-child {
        margin-right: 0; } }

body {
  color: #4A4A4A;
  font-family: 'Khula', sans-serif; }

.container {
  width: 1200px;
  margin: 2em 0;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.clean-link {
  color: #4A4A4A;
  text-decoration: none; }
  .clean-link:hover {
    text-decoration: underline; }
  .clean-link:visited {
    color: #4A4A4A; }

.clean-list {
  list-style: none; }

.social-container {
  display: inline-block;
  padding: 0;
  text-align: left; }
  @media (min-width: 920px) {
    .social-container {
      float: right; } }

.social {
  height: 38px;
  margin-right: 20px;
  margin-bottom: 1em;
  width: 38px; }
  @media (min-width: 920px) {
    .social {
      margin-bottom: 0; } }

.back-container {
  display: flex;
  margin: 1em 0; }

.back-container__text {
  border: 2px solid #4A4A4A;
  border-radius: 20px;
  font-weight: 700;
  justify-content: flex-start;
  padding: .3em .5em 0 .5em;
  text-align: center;
  text-transform: uppercase; }
  .back-container__text img {
    padding-right: 5px; }

nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  nav:last-child {
    margin-right: 0; }
  nav ul {
    list-style-type: none;
    padding: 0; }
  nav li {
    background-color: rgba(192, 192, 192, 0.4);
    border-bottom: 1px solid rgba(192, 192, 192, 0.7);
    margin-bottom: 1em;
    text-align: center;
    padding-top: 5px; }
  nav a {
    text-decoration: none;
    color: black; }

.create_new_image {
  width: 100%; }

.input_form {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .input_form:last-child {
    margin-right: 0; }

.row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .row:last-child {
    margin-right: 0; }
  .row label {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 17.72593%; }
    .row label:last-child {
      margin-right: 0; }
  .row input {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 79.43148%;
    margin-right: 0; }
    .row input:last-child {
      margin-right: 0; }

[type="checkbox"] {
  margin-left: 0px; }

/*# sourceMappingURL=main.css.map */
