<%= render("back-button") %>

<h1 class="page-title">Madiera</h1>
<p class="asset-subtitle">April 3, 2015</p>

<section class="quadrant-wrapper--full">
  <%= render_many(@gallery.images,
                  name: :image,
                  in: "quadrant") %>
