<%= render("back-button") %>

<h1 class="page-title"><%= @image.title %></h1>
<p class="asset-subtitle"><%= @image.subtitle %></p>

<section class="single-wrapper--full">
  <div class="single single"
       style="background-image: url(<%= image(@image.image)%>);">
  </div>
</section>

<%= if @image.description do %>
  <p class="image-description"><%= @image.description %></p>
<% end %>

<%= if @image.exif do %>
  <%= render("exif", [exif: @image.exif]) %>
<% end %>
