<div class="back-container">
  <a href="index.html" class="back-container__text clean-link"><img src="public/images/arrow-left.svg">Home</a>
</div>

<h1 class="page-title">Madiera</h1>
<p class="asset-subtitle">April 3, 2015</p>

<section class="quadrant-wrapper--full">

  <%= View.render_many(["rocks.jpg", "beach.jpg", "waves.jpg", "outcropping.jpg"], element: :image, in: "_quadrant") %>
