<div class="back-container">
  <a href="gallery" class="back-container__text clean-link"><img src="<%= image("arrow-left.svg") %>">Madiera</a>
</div>

<section class="single-wrapper--full">
  <div class="single single"
       style="background-image: url(<%= image("outcropping.jpg") %>);">
  </div>
</section>
