<section class="content-wrapper">

  <%= render_many(@entities, name: :entity,
                             selecting: fn(entity) -> case entity do
                                                  %Image{} -> "single-image"
                                                  %Gallery{} -> "quadrant-wrapper"
                             end
                             end) %>


</section>
