<section class="quadrant-wrapper">

  <%= render_many(@entity.images, name: :image, in: "quadrant") %>

  <div class="asset-wrapper">
    <p class="asset-description"><%= length(@entity.images) %> images</p>
    <p class="asset-title"><%= @entity.title %></p>
    <p class="asset-subtitle"><%= @entity.subtitle %></p>
  </div>
</section>
