<section class="quadrant-wrapper">

  <%= render_many(@entity.images, name: :image, in: "quadrant") %>

  <div class="asset-wrapper">
    <p class="asset-description">10 images</p>
    <p class="asset-title">Madiera</p>
    <p class="asset-subtitle">March 16, 2015</p>
  </div>
</section>
