<section class="single-wrapper">
  <a href="solo-image">
    <div class="single"
         style="background-image: url(<%= image(@image) %>);">
    </div>
  </a>

  <div class="asset-wrapper">
    <p class="asset-title">London</p>
    <p class="asset-subtitle">March 1, 2015</p>
  </div>
</section>
